{% extends 'base.html' %}

{% set page_head_title = 'homepage' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

<div class="homeContainer">
    <div class="logoGif" ><img src="{{ url_for('homepage.static', filename='media/animatedLogo.gif') }}" alt=""style="width:450px" > </div>


    <div class="textHome">
        <h id="Welcome">Welcome</h><br>
        Welcome to a world of bliss, where our warm and experienced
        therapists take care of you from the moment you arrive. This is your invitation to relax, recharge and escape the outside world.
        <br><button id="learn more" class="click" onclick="window.location = 'aboutUs.html#jump'" >learn more</button><br></div>

</div><br><br><br>
<div id="homeIma"><img class="imHome" src="{{ url_for('homepage.static', filename='media/pic1.jpg') }}" alt=""style="width:410px" ><img class="imHome"  src="{{ url_for('homepage.static', filename='media/pic2.jpg') }}" alt=""style="width:410px" ><img class="imHome"  src="{{ url_for('homepage.static', filename='media/pic4.jpg') }}" alt=""style="width:410px" >
</div> <br><br>




</div>
          <!------------------------------------------- end home body ------------------------------------------->



{% endblock %}
